.carousel-caption{
    z-index: 0;
    margin-bottom : 32%;
    text-align: center !important;
}

.carousel{
    z-index: 0;
    height: 50%;
    background-color: black;
}
.carousel-inner{
    height: 700px !important;
}
.carousel-inner img{
    opacity: 0.7;
    background-size: cover;
}


@media all and (max-width: 1000px) {
    body{
        width: auto;
    }
    .carousel-caption{
        margin-bottom : 13%;
        text-align: center !important;
    }
    .carousel-inner{
        height: 500px !important;
    }
}
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
    body{
        width: auto;
    }
    .carousel-inner{
        height: 320px !important;
    }
    .carousel-caption h1{
    font-size: 30px;
    text-align: center !important;

  }
  .carousel-caption {
    font-size: 15px;
    text-align: center !important;
    }

}